<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contentApi</key>
	<dict>
		<key>UAT</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
		<key>DEV</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
		<key>QA</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
		<key>PROD</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
	</dict>
	<key>beerApi</key>
	<dict>
		<key>LOCAL</key>
		<dict>
			<key>baseURL</key>
			<string>http://localhost:3000</string>
		</dict>
		<key>DEV</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
		<key>PROD</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
	</dict>
	<key>productCatalogApi</key>
	<dict>
		<key>UAT</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
		<key>DEV</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
		<key>QA</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
		<key>PROD</key>
		<dict>
			<key>baseURL</key>
			<string>https://api.punkapi.com/v2</string>
		</dict>
	</dict>
</dict>
</plist>
